@import "$yo-config/core/reset";
@import "$yo-config/layout/yo-root";
@import "$yo-config/layout/yo-flex";
@import "$yo-config/fragment/yo-tab";
@import "$yo-config/fragment/yo-carousel";


.m-content {
    .title {
        text-align: center;
        font-size: .2rem;
        color: #666666;
        padding: .1rem;
    } 
    .notice {
        text-align: center;
        font-size: .16rem;
        color: #555555;
        padding: .1rem;
    }
    .m-content-active {
        opacity: 0.7;
    }
}

p.intro{
    padding:25px;
    font:18px/36px "";
}